[chat_np4head]
type=model
x=414
y=34
width=32
height=32
zoom=796
xan=40
yan=166

[chat_np4name]
type=text
x=20
y=0
width=350
height=17
center=yes
font=q8_full
text=Name
colour=0x800000

[chat_np4a]
type=text
x=20
y=16
width=350
height=17
center=yes
font=q8_full
text=Line1

[chat_np4b]
type=text
x=20
y=32
width=350
height=17
center=yes
font=q8_full
text=Line2

[chat_np4c]
type=text
x=20
y=48
width=350
height=17
center=yes
font=q8_full
text=Line3

[chat_np4d]
type=text
x=20
y=64
width=350
height=17
center=yes
font=q8_full
text=Line4
