[mes4a]
type=text
x=21
y=9
width=441
height=17
center=yes
font=q8_full
text=Line1

[mes4b]
type=text
x=21
y=25
width=441
height=17
center=yes
font=q8_full
text=Line2

[mes4c]
type=text
x=21
y=41
width=441
height=17
center=yes
font=q8_full
text=Line3

[mes4d]
type=text
x=21
y=57
width=441
height=17
center=yes
font=q8_full
text=Line4

[mes4next]
type=text
x=65
y=77
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
