[mes5a]
type=text
x=21
y=0
width=441
height=17
center=yes
font=q8_full
text=Line1

[mes5b]
type=text
x=21
y=16
width=441
height=17
center=yes
font=q8_full
text=Line2

[mes5c]
type=text
x=21
y=32
width=441
height=17
center=yes
font=q8_full
text=Line3

[mes5d]
type=text
x=21
y=48
width=441
height=17
center=yes
font=q8_full
text=Line4

[mes5e]
type=text
x=21
y=64
width=441
height=17
center=yes
font=q8_full
text=Line5

[mes5next]
type=text
x=65
y=80
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
