[mes3a]
type=text
x=21
y=5
width=441
height=17
center=yes
font=q8_full
text=Line1

[mes3b]
type=text
x=21
y=29
width=441
height=17
center=yes
font=q8_full
text=Line2

[mes3c]
type=text
x=21
y=53
width=441
height=17
center=yes
font=q8_full
text=Line3

[mes3next]
type=text
x=69
y=77
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
