[npcchat1head]
type=model
x=34
y=34
width=32
height=32
zoom=796
xan=40
yan=1882

[npcchat1name]
type=text
x=111
y=0
width=350
height=17
center=yes
font=q8_full
text=Name
colour=0x800000

[npcchat1a]
type=text
x=111
y=40
width=350
height=17
center=yes
font=q8_full
text=Line1

[npcchat1next]
type=text
x=111
y=80
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
