[npcchat4head]
type=model
x=34
y=34
width=32
height=32
zoom=796
xan=40
yan=1882

[npcchat4name]
type=text
x=111
y=0
width=350
height=17
center=yes
font=q8_full
text=Name
colour=0x800000

[npcchat4a]
type=text
x=111
y=16
width=350
height=17
center=yes
font=q8_full
text=Line1

[npcchat4b]
type=text
x=111
y=32
width=350
height=17
center=yes
font=q8_full
text=Line2

[npcchat4c]
type=text
x=111
y=48
width=350
height=17
center=yes
font=q8_full
text=Line3

[npcchat4d]
type=text
x=111
y=64
width=350
height=17
center=yes
font=q8_full
text=Line4

[npcchat4next]
type=text
x=111
y=80
buttontype=pause
width=350
height=17
center=yes
font=q8_full
text=Click here to continue
colour=0xFFFF00
overcolour=0x00C000
