[com_0]
type=model
x=241
y=124
width=40
height=12
model=com_i126
zoom=578
xan=496
yan=1

[answer_text1]
type=text
x=120
y=46
width=93
height=17
font=q8_full
text=A....a lemming
colour=0xF342E10

[answer_text2]
type=text
x=118
y=79
width=105
height=17
font=q8_full
text=B....a fryingpan
colour=0xF342E10

[answer_text3]
type=text
x=118
y=111
width=325
height=17
font=q8_full
text=C....the disenfrachaised youth of 1940's Columbia
colour=0xF342E10

[question]
type=text
x=117
y=20
width=45
height=17
font=q8_full
text=Is this:
colour=0xF1B1805

[item_border]
type=rect
x=142
y=143
width=236
height=153
fill=yes
colour=0xF342E10

[item_background]
type=rect
x=147
y=147
width=226
height=144
fill=yes
colour=0xF5F551D

[item_model]
type=model
x=197
y=149
width=133
height=133
model=obj_6189
zoom=400
xan=346
yan=1883

[close]
type=text
x=437
y=0
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[answer_button1]
type=model
x=85
y=36
buttontype=normal
width=32
height=32
model=com_i473
zoom=4904
xan=540
yan=2043
option=select option A

[answer_button2]
type=model
x=84
y=69
buttontype=normal
width=32
height=32
model=com_i474
zoom=4859
xan=490
yan=10
option=select option B

[answer_button3]
type=model
x=83
y=102
buttontype=normal
width=32
height=32
model=com_i475
zoom=4579
xan=385
yan=24
option=select option C
