[trawler_layer]
type=layer
x=20
y=0
width=475
height=62

[trawler_waterlevel0]
layer=trawler_layer
type=rect
x=49
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,0
fill=yes
activecolour=0x8080FF

[trawler_waterlevel1]
layer=trawler_layer
type=rect
x=70
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,4
fill=yes
activecolour=0x8080FF

[trawler_waterlevel2]
layer=trawler_layer
type=rect
x=91
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,9
fill=yes
activecolour=0x8080FF

[trawler_waterlevel3]
layer=trawler_layer
type=rect
x=112
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,14
fill=yes
activecolour=0x8080FF

[trawler_waterlevel4]
layer=trawler_layer
type=rect
x=133
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,19
fill=yes
activecolour=0x8080FF

[trawler_waterlevel5]
layer=trawler_layer
type=rect
x=154
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,24
fill=yes
activecolour=0x8080FF

[trawler_waterlevel6]
layer=trawler_layer
type=rect
x=175
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,29
fill=yes
activecolour=0x8080FF

[trawler_waterlevel7]
layer=trawler_layer
type=rect
x=196
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,34
fill=yes
activecolour=0x8080FF

[trawler_waterlevel8]
layer=trawler_layer
type=rect
x=217
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,39
fill=yes
activecolour=0x8080FF

[trawler_waterlevel9]
layer=trawler_layer
type=rect
x=238
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,44
fill=yes
activecolour=0x8080FF

[trawler_waterlevel10]
layer=trawler_layer
type=rect
x=259
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,49
fill=yes
activecolour=0x8080FF

[trawler_waterlevel11]
layer=trawler_layer
type=rect
x=280
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,54
fill=yes
activecolour=0x8080FF

[trawler_waterlevel12]
layer=trawler_layer
type=rect
x=301
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,59
fill=yes
activecolour=0x8080FF

[trawler_waterlevel13]
layer=trawler_layer
type=rect
x=322
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,64
fill=yes
activecolour=0x8080FF

[trawler_waterlevel14]
layer=trawler_layer
type=rect
x=343
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,69
fill=yes
activecolour=0x8080FF

[trawler_waterlevel15]
layer=trawler_layer
type=rect
x=364
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,74
fill=yes
activecolour=0x8080FF

[trawler_waterlevel16]
layer=trawler_layer
type=rect
x=385
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,79
fill=yes
activecolour=0x8080FF

[trawler_waterlevel17]
layer=trawler_layer
type=rect
x=406
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,84
fill=yes
activecolour=0x8080FF

[trawler_waterlevel18]
layer=trawler_layer
type=rect
x=427
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,89
fill=yes
activecolour=0x8080FF

[trawler_waterlevel19]
layer=trawler_layer
type=rect
x=448
y=23
width=21
height=10
trans=128
script1op1=pushvar,trawler_water_overlay
script1=gt,94
fill=yes
activecolour=0x8080FF

[com_21]
layer=trawler_layer
type=text
x=0
y=20
width=36
height=14
font=p12_full
shadowed=yes
text=Water:
colour=0xFFFFFF

[com_22]
layer=trawler_layer
type=text
x=0
y=42
width=23
height=14
font=p12_full
shadowed=yes
text=Net:
colour=0xFFFFFF

[com_23]
layer=trawler_layer
type=text
x=183
y=42
width=35
height=14
font=p12_full
shadowed=yes
text=Catch:
colour=0xFFFFFF

[com_24]
layer=trawler_layer
type=text
x=372
y=42
width=51
height=14
font=p12_full
shadowed=yes
text=Time left:
colour=0xFFFFFF

[com_25]
layer=trawler_layer
type=rect
x=49
y=23
width=421
height=10
trans=128
colour=0x808080

[trawler_nettextok]
layer=trawler_layer
type=text
x=31
y=42
width=28
height=14
font=p12_full
shadowed=yes
text=Okay
colour=0x00FF24

[trawler_nettextripped]
layer=trawler_layer
type=text
x=31
y=42
width=41
height=14
font=p12_full
shadowed=yes
text=Ripped!
colour=0xFF0000

[trawler_catchtext]
layer=trawler_layer
type=text
x=225
y=42
width=44
height=14
font=p12_full
shadowed=yes
text=Nothing
colour=0xFFFFFF

[trawler_timetext]
layer=trawler_layer
type=text
x=429
y=42
width=43
height=14
font=p12_full
shadowed=yes
text=10 mins
colour=0xFFFFFF
