[com_0]
type=model
x=227
y=162
width=32
height=32
model=if_trail_scroll
zoom=599
xan=520
yan=1

[trail_cluelong_close_button]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFAD782
overcolour=0xFFFFFF

[trail_cluelong_line1]
type=text
x=131
y=62
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line2]
type=text
x=131
y=87
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line3]
type=text
x=131
y=112
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line4]
type=text
x=131
y=137
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line5]
type=text
x=131
y=162
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line6]
type=text
x=131
y=187
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line7]
type=text
x=131
y=212
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E

[trail_cluelong_line8]
type=text
x=131
y=237
width=256
height=21
font=q8_full
shadowed=yes
text=The quick brown fox jumped over the 
colour=0xF0BB5E
