[sextant_backing]
type=model
x=273
y=70
width=32
height=32
model=com_i139
zoom=162
xan=500

[sextant_horizon]
type=model
x=419
y=141
width=32
height=32
model=com_i140
zoom=353
xan=500

[sextant_sun]
type=model
x=419
y=141
width=32
height=32
model=com_i141
zoom=898
xan=500

[sextant_viewer]
type=model
x=419
y=141
width=32
height=32
model=com_i142
zoom=201
xan=500

[com_4]
type=text
x=430
y=8
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x505050
overcolour=0xFFFFFF

[sextant_tilt_up]
type=model
x=313
y=275
buttontype=normal
width=30
height=51
model=com_i143
zoom=1389
xan=275
yan=2029

[sextant_tilt_down]
type=model
x=315
y=13
buttontype=normal
width=27
height=43
model=if_sextant_trail_arrow_down
zoom=1418
xan=478
yan=14

[sextant_arm_right]
type=model
x=258
y=258
buttontype=normal
width=44
height=52
model=com_i144
zoom=1228
xan=300
yan=285

[sextant_arm_left]
type=model
x=21
y=264
buttontype=normal
width=47
height=49
model=com_i145
zoom=1219
xan=308
yan=695

[sextant_back]
type=model
x=152
y=180
width=32
height=32
model=com_i146
zoom=566
xan=500

[sextant_arm]
type=model
x=152
y=180
width=32
height=32
model=com_i147
zoom=566
xan=500

[sextant_foreground]
type=model
x=152
y=180
width=32
height=32
model=com_i148
zoom=566
xan=500

[sextant_location]
type=text
x=131
y=313
buttontype=normal
width=71
height=14
font=p12_full
shadowed=yes
text=Get Location
colour=0x7C6035
overcolour=0xC8B08A
