[com_0]
type=text
x=190
y=10
width=147
height=14
font=p12_full
shadowed=yes
text=Blast Furnace Temp Gauge
colour=0xFFAA44

[blast_furnace_temp_gauge_close_button]
type=text
x=470
y=9
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0x888888

[temp_gauge_fuelflag]
type=model
x=316
y=176
width=32
height=32
model=com_i508
zoom=908

[clock_crazy_1]
type=model
x=185
y=183
width=32
height=32
model=com_i509
zoom=960

[temp_gauge_needle]
type=model
x=248
y=152
width=32
height=32
model=com_i510
zoom=172
