[com_0]
type=model
x=259
y=85
width=32
height=32
model=com_i516
zoom=246
xan=295

[bob_locator_nose_lights]
type=model
x=259
y=85
width=32
height=32
model=com_i517
anim=bob_locator_nose_rotate
activeanim=bob_locator_nose_rotate
zoom=246
xan=295

[bob_locator_r_eye]
type=model
x=255
y=84
width=32
height=32
model=com_i518
anim=bob_locator_eyes
activeanim=bob_locator_eyes
zoom=246
xan=293

[bob_locator_l_eye]
type=model
x=205
y=75
width=32
height=32
model=com_i518
anim=bob_locator_eyes
activeanim=bob_locator_eyes
zoom=246
xan=295
yan=110

[bob_locator_mouth]
type=model
x=259
y=85
width=32
height=32
model=com_i519
anim=bob_locator_eyes
activeanim=bob_locator_eyes
zoom=246
xan=295

[bob_locator_l_whisker]
type=graphic
x=178
y=150
buttontype=normal
width=66
height=40
option=Turn anti-clockwise

[bob_locator_r_whisker]
type=graphic
x=278
y=150
buttontype=normal
width=66
height=40
option=Turn clockwise

[bob_button_r_whisker]
type=model
x=259
y=85
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
model=com_i520
activemodel=com_i521
zoom=246
xan=295

[bob_button_l_whisker]
type=model
x=259
y=85
width=32
height=32
script1op1=pushvar,if1
script1=eq,2
model=com_i522
activemodel=com_i523
zoom=246
xan=295

[bob_locator_close_button]
type=text
x=428
y=12
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
