[com_0]
type=model
x=241
y=127
width=35
height=35
model=com_i118
zoom=477
xan=498
yan=1

[com_1]
type=model
x=241
y=127
width=35
height=35
model=com_i119
activemodel=com_i120
zoom=477
xan=498
yan=1

[com_2]
type=model
x=241
y=127
width=35
height=35
model=com_i121
zoom=477
xan=498
yan=1

[com_3]
type=text
x=434
y=9
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[bookmacro_big_title]
type=text
x=253
y=11
width=20
height=17
center=yes
font=q8_full
shadowed=yes
text=%1
colour=0xFF981F

[bookmacro_big_piclayer1]
type=layer
x=28
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic1]
layer=bookmacro_big_piclayer1
type=model
x=87
y=-9
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer2]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[bookmacro_big_pic2]
layer=bookmacro_big_piclayer2
type=model
x=86
y=6
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer3]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic3]
layer=bookmacro_big_piclayer3
type=model
x=87
y=24
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer4]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic4]
layer=bookmacro_big_piclayer4
type=model
x=87
y=40
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer5]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic5]
layer=bookmacro_big_piclayer5
type=model
x=87
y=56
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer6]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic6]
layer=bookmacro_big_piclayer6
type=model
x=87
y=72
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer7]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic7]
layer=bookmacro_big_piclayer7
type=model
x=87
y=87
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer8]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic8]
layer=bookmacro_big_piclayer8
type=model
x=87
y=104
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer9]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic9]
layer=bookmacro_big_piclayer9
type=model
x=87
y=120
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer10]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic10]
layer=bookmacro_big_piclayer10
type=model
x=87
y=136
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer11]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic11]
layer=bookmacro_big_piclayer11
type=model
x=87
y=154
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer12]
type=layer
x=29
y=56
width=201
height=241
hide=yes

[bookmacro_big_pic12]
layer=bookmacro_big_piclayer12
type=model
x=86
y=168
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer13]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic13]
layer=bookmacro_big_piclayer13
type=model
x=86
y=184
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer14]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic14]
layer=bookmacro_big_piclayer14
type=model
x=87
y=201
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer15]
type=layer
x=28
y=54
width=201
height=241
hide=yes

[bookmacro_big_pic15]
layer=bookmacro_big_piclayer15
type=model
x=88
y=217
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer16]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic16]
layer=bookmacro_big_piclayer16
type=model
x=88
y=-8
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer17]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic17]
layer=bookmacro_big_piclayer17
type=model
x=88
y=5
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer18]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic18]
layer=bookmacro_big_piclayer18
type=model
x=88
y=23
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer19]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic19]
layer=bookmacro_big_piclayer19
type=model
x=88
y=39
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer20]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic20]
layer=bookmacro_big_piclayer20
type=model
x=88
y=56
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer21]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic21]
layer=bookmacro_big_piclayer21
type=model
x=88
y=72
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer22]
type=layer
x=282
y=80
width=201
height=241
hide=yes

[bookmacro_big_pic22]
layer=bookmacro_big_piclayer22
type=model
x=89
y=63
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer23]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic23]
layer=bookmacro_big_piclayer23
type=model
x=89
y=104
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer24]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic24]
layer=bookmacro_big_piclayer24
type=model
x=89
y=120
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer25]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic25]
layer=bookmacro_big_piclayer25
type=model
x=89
y=135
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer26]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic26]
layer=bookmacro_big_piclayer26
type=model
x=88
y=151
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer27]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic27]
layer=bookmacro_big_piclayer27
type=model
x=88
y=168
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer28]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic28]
layer=bookmacro_big_piclayer28
type=model
x=88
y=184
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer29]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic29]
layer=bookmacro_big_piclayer29
type=model
x=88
y=199
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big_piclayer30]
type=layer
x=282
y=55
width=201
height=241
hide=yes

[bookmacro_big_pic30]
layer=bookmacro_big_piclayer30
type=model
x=88
y=215
width=32
height=32
model=if_trail_xmark
zoom=500
xan=200

[bookmacro_big1a]
type=text
x=27
y=54
width=202
height=17
font=q8_full
text=line1

[bookmacro_big1b]
type=text
x=27
y=70
width=202
height=17
font=q8_full
text=line2

[bookmacro_big1c]
type=text
x=27
y=86
width=202
height=17
font=q8_full
text=line3

[bookmacro_big1d]
type=text
x=27
y=102
width=202
height=17
font=q8_full
text=line4

[bookmacro_big1e]
type=text
x=27
y=118
width=202
height=17
font=q8_full
text=line5

[bookmacro_big1f]
type=text
x=27
y=134
width=202
height=17
font=q8_full
text=line6

[bookmacro_big1g]
type=text
x=27
y=150
width=202
height=17
font=q8_full
text=line7

[bookmacro_big1h]
type=text
x=27
y=166
width=202
height=17
font=q8_full
text=line8

[bookmacro_big1i]
type=text
x=27
y=182
width=202
height=17
font=q8_full
text=line9

[bookmacro_big1j]
type=text
x=27
y=198
width=202
height=17
font=q8_full
text=line10

[bookmacro_big1k]
type=text
x=27
y=214
width=202
height=17
font=q8_full
text=line11

[bookmacro_big1l]
type=text
x=27
y=230
width=202
height=17
font=q8_full
text=line12

[com_77]
type=text
x=27
y=246
width=202
height=17
font=q8_full
text=line13

[bookmacro_big1n]
type=text
x=27
y=262
width=202
height=17
font=q8_full
text=line14

[bookmacro_big1o]
type=text
x=27
y=278
width=202
height=17
font=q8_full
text=line15

[bookmacro_big2a]
type=text
x=283
y=54
width=202
height=17
font=q8_full
text=line16

[bookmacro_big2b]
type=text
x=283
y=70
width=202
height=17
font=q8_full
text=line17

[bookmacro_big2c]
type=text
x=283
y=86
width=202
height=17
font=q8_full
text=line18

[bookmacro_big2d]
type=text
x=283
y=102
width=202
height=17
font=q8_full
text=line19

[bookmacro_big2e]
type=text
x=283
y=118
width=202
height=17
font=q8_full
text=line20

[bookmacro_big2f]
type=text
x=283
y=134
width=202
height=17
font=q8_full
text=line21

[bookmacro_big2g]
type=text
x=283
y=150
width=202
height=17
font=q8_full
text=line22

[bookmacro_big2h]
type=text
x=283
y=166
width=202
height=17
font=q8_full
text=line23

[com_88]
type=text
x=283
y=182
width=202
height=17
font=q8_full
text=line24

[com_89]
type=text
x=283
y=198
width=202
height=17
font=q8_full
text=line25

[com_90]
type=text
x=283
y=214
width=202
height=17
font=q8_full
text=line26

[com_91]
type=text
x=283
y=230
width=202
height=17
font=q8_full
text=line27

[com_92]
type=text
x=283
y=246
width=202
height=17
font=q8_full
text=line28

[com_93]
type=text
x=283
y=262
width=202
height=17
font=q8_full
text=line28

[com_94]
type=text
x=283
y=278
width=202
height=17
font=q8_full
text=line29

[bookmacro_big_left_layer]
type=layer
x=94
y=298
width=45
height=36

[bookmacro_big_left]
layer=bookmacro_big_left_layer
type=graphic
x=0
y=-1
buttontype=normal
width=45
height=36
graphic=leftarrow,0

[bookmacro_big_right_layer]
type=layer
x=366
y=295
width=45
height=36

[bookmacro_big_right]
layer=bookmacro_big_right_layer
type=graphic
x=0
y=0
buttontype=normal
width=45
height=36
graphic=rightarrow,0

[bookmacro_big_pnumber_left]
type=text
x=9
y=300
width=49
height=17
center=yes
font=q8_full
text=page%1

[bookmacro_big_pnumber_right]
type=text
x=455
y=300
width=52
height=17
center=yes
font=q8_full
text=page%2
