[dwarf_rock_black_background]
type=rect
x=0
y=0
width=512
height=334
fill=yes

[dwarf_rock_paper1]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_paper]
layer=dwarf_rock_paper1
type=model
x=242
y=172
width=32
height=32
model=com_i296
zoom=345
xan=520
yan=6

[dwarf_rock_schematic1]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_schematic_1]
layer=dwarf_rock_schematic1
type=model
x=239
y=171
width=32
height=32
model=com_i297
zoom=345
xan=520
yan=6

[dwarf_rock_schematic2]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_schematic_2]
layer=dwarf_rock_schematic2
type=model
x=236
y=173
width=32
height=32
model=com_i298
zoom=339
xan=521
yan=2043

[dwarf_rock_schematic3]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_schematic_3]
layer=dwarf_rock_schematic3
type=model
x=239
y=174
width=32
height=32
model=com_i299
zoom=332
xan=574
yan=2039

[dwarf_rock_buttons]
type=layer
x=445
y=13
width=66
height=28

[dwarf_rock_schematics_close_button]
layer=dwarf_rock_buttons
type=text
x=19
y=5
buttontype=close
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00

[dwarf_rock_border1]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_border_1]
layer=dwarf_rock_border1
type=model
x=239
y=171
width=32
height=32
model=com_i300
zoom=345
xan=520
yan=6

[dwarf_rock_border2]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_border_2]
layer=dwarf_rock_border2
type=model
x=236
y=173
width=32
height=32
model=com_i301
zoom=339
xan=521
yan=2043

[dwarf_rock_border3]
type=layer
x=0
y=0
width=512
height=334

[dwarf_rock_border_3]
layer=dwarf_rock_border3
type=model
x=239
y=174
width=32
height=32
model=com_i302
zoom=332
xan=574
yan=2039

[dwarf_rock_congrat_layer]
type=layer
x=0
y=46
width=512
height=27
hide=yes

[dwarf_rock_congrat_text]
layer=dwarf_rock_congrat_layer
type=text
x=0
y=5
width=512
height=14
center=yes
font=b12_full
shadowed=yes
text=That's it, it all makes sense now! If you were a dwarf, that is...
colour=0xFFFF00
