[dwarf_rock_rectangle]
type=rect
x=0
y=0
width=512
height=334
fill=yes

[dwarf_rock_backing]
type=model
x=243
y=170
width=32
height=32
model=com_i293
zoom=400
xan=117
yan=3

[dwarf_rock_head]
type=model
x=243
y=170
width=32
height=32
model=chat_male_head_bald
zoom=400
xan=90
yan=10

[dwarf_rock_front]
type=model
x=243
y=170
width=32
height=32
model=com_i294
zoom=400
xan=117
yan=3

[dwarf_rock_zoom_npclayer]
type=layer
x=0
y=1
width=512
height=94

[dwarf_rock_zoom_npcname]
layer=dwarf_rock_zoom_npclayer
type=text
x=80
y=15
width=350
height=17
center=yes
font=q8_full
shadowed=yes
text=Name
colour=0x800000

[dwarf_rock_zoom_npctxt]
layer=dwarf_rock_zoom_npclayer
type=text
x=80
y=37
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0xFFFF00

[dwarf_rock_zoom_npchead]
layer=dwarf_rock_zoom_npclayer
type=model
x=25
y=37
width=32
height=32
model=chat_male_head_bald
zoom=796
xan=40
yan=1882

[dwarf_rock_zoom_playerlayer]
type=layer
x=70
y=291
width=379
height=33

[dwarf_rock_zoom_playertxt]
layer=dwarf_rock_zoom_playerlayer
type=text
x=10
y=8
width=350
height=17
center=yes
font=q8_full
text=Line1
colour=0xFFFF00

[dwarf_rock_fade_layer]
type=layer
x=0
y=0
width=512
height=334
hide=yes

[dwarf_rock_fade_model]
layer=dwarf_rock_fade_layer
type=model
x=0
y=0
width=512
height=334
model=com_i295
zoom=114
xan=500
