[1track_al]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i149
activemodel=com_i150
zoom=1200
xan=350

[1track_ar]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i151
activemodel=com_i152
zoom=1200
xan=350

[1track_bl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i153
activemodel=com_i154
zoom=1200
xan=350

[1track_br]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i155
activemodel=com_i156
zoom=1200
xan=350

[1track_cl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i157
activemodel=com_i158
zoom=1200
xan=350

[1track_cr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i159
activemodel=com_i160
zoom=1200
xan=350

[1track_dl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i161
activemodel=com_i162
zoom=1200
xan=350

[1track_dr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i163
activemodel=com_i164
zoom=1200
xan=350

[1track_el]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i165
activemodel=com_i166
zoom=1200
xan=350

[1track_er]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i167
activemodel=com_i168
zoom=1200
xan=350

[1track_fl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i169
activemodel=com_i170
zoom=1200
xan=350

[1track_fr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i171
activemodel=com_i172
zoom=1200
xan=350

[1track_gl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i173
activemodel=com_i174
zoom=1200
xan=350

[1track_gr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i175
activemodel=com_i176
zoom=1200
xan=350

[1track_hl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i177
activemodel=com_i178
zoom=1200
xan=350

[1track_hr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i179
activemodel=com_i180
zoom=1200
xan=350

[com_16]
type=model
x=248
y=130
width=32
height=32
model=com_i181
zoom=1200
xan=350

[com_17]
type=model
x=248
y=130
width=32
height=32
model=com_i182
zoom=1200
xan=350

[com_18]
type=layer
x=142
y=123
width=32
height=32
hide=yes

[1switch_a]
layer=com_18
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_20]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[1switch_b]
layer=com_20
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_22]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[1switch_c]
layer=com_22
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_24]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[1switch_d]
layer=com_24
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_26]
type=layer
x=268
y=90
width=32
height=32
hide=yes

[1switch_e]
layer=com_26
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_28]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[1switch_f]
layer=com_28
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_30]
type=layer
x=269
y=162
width=32
height=32
hide=yes

[1switch_g]
layer=com_30
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[com_32]
type=layer
x=314
y=203
width=32
height=32
hide=yes

[1switch_h]
layer=com_32
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i183
activemodel=com_i184
zoom=1200
xan=350

[forget_traintrack_puzzle1_close]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
option=Close

[1button_alr]
type=model
x=142
y=123
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_blr]
type=model
x=190
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_clr]
type=model
x=184
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_dlr]
type=model
x=266
y=56
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_elr]
type=model
x=268
y=90
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_flr]
type=model
x=227
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_glr]
type=model
x=269
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[1button_hlr]
type=model
x=314
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_43]
type=model
x=119
y=24
width=32
height=32
model=com_i183
zoom=1200
xan=350

[com_44]
type=model
x=119
y=55
width=32
height=32
model=com_i184
zoom=1200
xan=350

[1counter_l]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[1counter_r]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
