[3track_al]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,1
model=com_i350
activemodel=com_i351
zoom=1200
xan=350

[3track_ar]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i352
activemodel=com_i353
zoom=1200
xan=350

[3track_bl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,1
model=com_i354
activemodel=com_i355
zoom=1200
xan=350

[3track_br]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i356
activemodel=com_i357
zoom=1200
xan=350

[3track_cl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,1
model=com_i358
activemodel=com_i359
zoom=1200
xan=350

[3track_cr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i360
activemodel=com_i361
zoom=1200
xan=350

[3track_dl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,1
model=com_i362
activemodel=com_i363
zoom=1200
xan=350

[3track_dr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i364
activemodel=com_i365
zoom=1200
xan=350

[3track_el]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,1
model=com_i366
activemodel=com_i367
zoom=1200
xan=350

[3track_er]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i368
activemodel=com_i369
zoom=1200
xan=350

[3track_fl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,1
model=com_i370
activemodel=com_i371
zoom=1200
xan=350

[3track_fr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i372
activemodel=com_i373
zoom=1200
xan=350

[3track_gl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,1
model=com_i374
activemodel=com_i375
zoom=1200
xan=350

[3track_gr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i376
activemodel=com_i377
zoom=1200
xan=350

[3track_hl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,1
model=com_i378
activemodel=com_i379
zoom=1200
xan=350

[3track_hr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i380
activemodel=com_i381
zoom=1200
xan=350

[3track_il]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,1
model=com_i382
activemodel=com_i383
zoom=1200
xan=350

[3track_ir]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i384
activemodel=com_i385
zoom=1200
xan=350

[3track_jl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,1
model=com_i386
activemodel=com_i387
zoom=1200
xan=350

[3track_jr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i388
activemodel=com_i389
zoom=1200
xan=350

[3track_kl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,1
model=com_i390
activemodel=com_i391
zoom=1200
xan=350

[3track_kr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i392
activemodel=com_i393
zoom=1200
xan=350

[3track_ll]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,1
model=com_i394
activemodel=com_i395
zoom=1200
xan=350

[3track_lr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i396
activemodel=com_i397
zoom=1200
xan=350

[3track_ml]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,1
model=com_i398
activemodel=com_i399
zoom=1200
xan=350

[3track_mr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=com_i400
activemodel=com_i401
zoom=1200
xan=350

[3track_nl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,1
model=com_i402
activemodel=com_i403
zoom=1200
xan=350

[3track_nr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=com_i404
activemodel=com_i405
zoom=1200
xan=350

[3track_ol]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,1
model=com_i406
activemodel=com_i407
zoom=1200
xan=350

[3track_or]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=com_i408
activemodel=com_i409
zoom=1200
xan=350

[3track_pl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,1
model=com_i410
activemodel=com_i411
zoom=1200
xan=350

[3track_pr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=com_i412
activemodel=com_i413
zoom=1200
xan=350

[3track_ql]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,1
model=com_i414
activemodel=com_i415
zoom=1200
xan=350

[3track_qr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=com_i416
activemodel=com_i417
zoom=1200
xan=350

[3track_rl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,1
model=com_i418
activemodel=com_i419
zoom=1200
xan=350

[3track_rr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=com_i420
activemodel=com_i421
zoom=1200
xan=350

[3track_sl]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,1
model=com_i422
activemodel=com_i423
zoom=1200
xan=350

[3track_sr]
type=model
x=248
y=130
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=com_i424
activemodel=com_i425
zoom=1200
xan=350

[com_38]
type=model
x=248
y=130
width=32
height=32
model=com_i426
zoom=1200
xan=350

[com_39]
type=model
x=248
y=130
width=32
height=32
model=com_i427
zoom=1200
xan=350

[com_40]
type=layer
x=142
y=123
width=32
height=32
hide=yes

[3switch_a]
layer=com_40
type=model
x=106
y=7
width=32
height=32
script1op1=push_varbit,forget_if1
script1=eq,2
model=com_i428
activemodel=com_i429
zoom=1200
xan=350

[com_42]
type=layer
x=190
y=89
width=32
height=32
hide=yes

[3switch_b]
layer=com_42
type=model
x=58
y=41
width=32
height=32
script1op1=push_varbit,forget_if2
script1=eq,2
model=com_i430
activemodel=com_i431
zoom=1200
xan=350

[com_44]
type=layer
x=184
y=162
width=32
height=32
hide=yes

[3switch_c]
layer=com_44
type=model
x=64
y=-32
width=32
height=32
script1op1=push_varbit,forget_if3
script1=eq,2
model=com_i432
activemodel=com_i433
zoom=1200
xan=350

[com_46]
type=layer
x=266
y=56
width=32
height=32
hide=yes

[3switch_d]
layer=com_46
type=model
x=-18
y=74
width=32
height=32
script1op1=push_varbit,forget_if4
script1=eq,2
model=com_i434
activemodel=com_i435
zoom=1200
xan=350

[com_48]
type=layer
x=165
y=165
width=32
height=32
hide=yes

[3switch_e]
layer=com_48
type=model
x=83
y=-35
width=32
height=32
script1op1=push_varbit,forget_if5
script1=eq,2
model=com_i436
activemodel=com_i437
zoom=1200
xan=350

[com_50]
type=layer
x=227
y=203
width=32
height=32
hide=yes

[3switch_f]
layer=com_50
type=model
x=21
y=-73
width=32
height=32
script1op1=push_varbit,forget_if6
script1=eq,2
model=com_i438
activemodel=com_i439
zoom=1200
xan=350

[com_52]
type=layer
x=202
y=201
width=32
height=32
hide=yes

[3switch_g]
layer=com_52
type=model
x=46
y=-71
width=32
height=32
script1op1=push_varbit,forget_if7
script1=eq,2
model=com_i440
activemodel=com_i441
zoom=1200
xan=350

[com_54]
type=layer
x=314
y=203
width=32
height=32
hide=yes

[3switch_h]
layer=com_54
type=model
x=-66
y=-73
width=32
height=32
script1op1=push_varbit,forget_if8
script1=eq,2
model=com_i442
activemodel=com_i443
zoom=1200
xan=350

[com_56]
type=layer
x=314
y=218
width=40
height=40
hide=yes

[3switch_i]
layer=com_56
type=model
x=-66
y=-88
width=32
height=32
script1op1=push_varbit,forget_if9
script1=eq,2
model=com_i444
activemodel=com_i445
zoom=1200
xan=350

[com_58]
type=layer
x=314
y=233
width=40
height=40
hide=yes

[3switch_j]
layer=com_58
type=model
x=-66
y=-103
width=32
height=32
script1op1=push_varbit,forget_if10
script1=eq,2
model=com_i446
activemodel=com_i447
zoom=1200
xan=350

[com_60]
type=layer
x=314
y=248
width=40
height=40
hide=yes

[3switch_k]
layer=com_60
type=model
x=-66
y=-118
width=32
height=32
script1op1=push_varbit,forget_if11
script1=eq,2
model=com_i448
activemodel=com_i449
zoom=1200
xan=350

[com_62]
type=layer
x=314
y=263
width=40
height=40
hide=yes

[3switch_l]
layer=com_62
type=model
x=-66
y=-133
width=32
height=32
script1op1=push_varbit,forget_if12
script1=eq,2
model=com_i450
activemodel=com_i451
zoom=1200
xan=350

[com_64]
type=layer
x=314
y=278
width=40
height=40
hide=yes

[3switch_m]
layer=com_64
type=model
x=-66
y=-148
width=32
height=32
script1op1=push_varbit,forget_if13
script1=eq,2
model=com_i452
activemodel=com_i453
zoom=1200
xan=350

[com_66]
type=layer
x=314
y=293
width=40
height=40
hide=yes

[3switch_n]
layer=com_66
type=model
x=-66
y=-163
width=32
height=32
script1op1=push_varbit,forget_if14
script1=eq,2
model=com_i454
activemodel=com_i455
zoom=1200
xan=350

[com_68]
type=layer
x=314
y=308
width=40
height=40
hide=yes

[3switch_o]
layer=com_68
type=model
x=-66
y=-178
width=32
height=32
script1op1=push_varbit,forget_if15
script1=eq,2
model=com_i456
activemodel=com_i457
zoom=1200
xan=350

[com_70]
type=layer
x=347
y=230
width=32
height=50
hide=yes

[3switch_p]
layer=com_70
type=model
x=-99
y=-100
width=32
height=32
script1op1=push_varbit,forget_if16
script1=eq,2
model=com_i458
activemodel=com_i459
zoom=1200
xan=350

[com_72]
type=layer
x=280
y=132
width=120
height=32
hide=yes

[3switch_q]
layer=com_72
type=model
x=-32
y=-2
width=32
height=32
script1op1=push_varbit,forget_if17
script1=eq,2
model=com_i460
activemodel=com_i461
zoom=1200
xan=350

[com_74]
type=layer
x=280
y=147
width=130
height=45
hide=yes

[3switch_r]
layer=com_74
type=model
x=-32
y=-17
width=32
height=32
script1op1=push_varbit,forget_if18
script1=eq,2
model=com_i462
activemodel=com_i463
zoom=1200
xan=350

[com_76]
type=layer
x=280
y=162
width=180
height=80
hide=yes

[3switch_s]
layer=com_76
type=model
x=-32
y=-32
width=32
height=32
script1op1=push_varbit,forget_if19
script1=eq,2
model=com_i464
activemodel=com_i465
zoom=1200
xan=350

[com_78]
type=text
x=461
y=15
buttontype=normal
width=31
height=14
font=p12_full
shadowed=yes
text=Close
colour=0xFFFF00
option=Close

[3button_alr]
type=model
x=83
y=124
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_blr]
type=model
x=130
y=89
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_clr]
type=model
x=121
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_dlr]
type=model
x=172
y=57
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_elr]
type=model
x=165
y=165
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_flr]
type=model
x=210
y=59
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_glr]
type=model
x=204
y=204
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_hlr]
type=model
x=249
y=32
buttontype=normal
width=27
height=24
zoom=400
option=Set Junction

[3button_ilr]
type=model
x=249
y=162
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_jlr]
type=model
x=248
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_klr]
type=model
x=290
y=61
buttontype=normal
width=28
height=28
zoom=400
option=Set Junction

[3button_llr]
type=model
x=289
y=124
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_mlr]
type=model
x=294
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[3button_nlr]
type=model
x=324
y=32
buttontype=normal
width=26
height=26
zoom=400
option=Set Junction

[3button_olr]
type=model
x=330
y=94
buttontype=normal
width=26
height=26
zoom=400
option=Set Junction

[3button_plr]
type=model
x=344
y=251
buttontype=normal
width=28
height=28
zoom=400
option=Set Junction

[3button_qlr]
type=model
x=365
y=62
buttontype=normal
width=27
height=27
zoom=400
option=Set Junction

[3button_rlr]
type=model
x=377
y=165
buttontype=normal
width=29
height=29
zoom=400
option=Set Junction

[3button_slr]
type=model
x=383
y=203
buttontype=normal
width=32
height=32
zoom=400
option=Set Junction

[com_98]
type=model
x=119
y=24
width=32
height=32
model=com_i183
zoom=1200
xan=350

[com_99]
type=model
x=119
y=55
width=32
height=32
model=com_i184
zoom=1200
xan=350

[3counter_r]
type=text
x=45
y=56
width=24
height=14
script1op1=push_varbit,forget_num_right
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00

[3counter_l]
type=text
x=45
y=26
width=24
height=14
script1op1=push_varbit,forget_num_left
font=p12_full
shadowed=yes
text=x%1
colour=0xFFFF00
