[keldagrim_story1_line1_l]
type=layer
x=40
y=62
width=450
height=15
hide=yes

[keldagrim_story1_line1]
layer=keldagrim_story1_line1_l
type=text
x=0
y=0
width=451
height=17
center=yes
font=b12_full
shadowed=yes
text=Five hundred years have passed since the rule of King Alvis,
colour=0xFF0000

[keldagrim_story1_line2_l]
type=layer
x=40
y=77
width=451
height=18
hide=yes

[keldagrim_story1_line2]
layer=keldagrim_story1_line2_l
type=text
x=0
y=1
width=451
height=18
center=yes
font=b12_full
shadowed=yes
text=saviour of Keldagrim, victim of his own inventions.
colour=0xFF0000

[keldagrim_story1_line3_l]
type=layer
x=40
y=107
width=450
height=18
hide=yes

[keldagrim_story1_line3]
layer=keldagrim_story1_line3_l
type=text
x=0
y=0
width=450
height=16
center=yes
font=b12_full
shadowed=yes
text=Founder of the Consortium, the gathering of mining companies
colour=0xFF0000

[keldagrim_story1_line4_l]
type=layer
x=39
y=124
width=450
height=18
hide=yes

[keldagrim_story1_line4]
layer=keldagrim_story1_line4_l
type=text
x=0
y=1
width=450
height=17
center=yes
font=b12_full
shadowed=yes
text=that were to serve the monarchy, eventually the monarchy came
colour=0xFF0000

[keldagrim_story1_line5_l]
type=layer
x=39
y=142
width=449
height=14
hide=yes

[keldagrim_story1_line5]
layer=keldagrim_story1_line5_l
type=text
x=0
y=0
width=451
height=15
center=yes
font=b12_full
shadowed=yes
text=to serve the Consortium.
colour=0xFF0000

[keldagrim_story1_line6_l]
type=layer
x=38
y=167
width=452
height=15
hide=yes

[keldagrim_story1_line6]
layer=keldagrim_story1_line6_l
type=text
x=0
y=0
width=452
height=15
center=yes
font=b12_full
shadowed=yes
text=By the time of his death, the monarchy was all but abolished.
colour=0xFF0000

[keldagrim_story1_line7_l]
type=layer
x=38
y=181
width=453
height=16
hide=yes

[keldagrim_story1_line7]
layer=keldagrim_story1_line7_l
type=text
x=0
y=0
width=452
height=16
center=yes
font=b12_full
shadowed=yes
text=By now, the Kings of Keldagrim are but a distant memory...
colour=0xFF0000

[keldagrim_story1_line8_l]
type=layer
x=38
y=196
width=453
height=18
hide=yes

[keldagrim_story1_line8]
layer=keldagrim_story1_line8_l
type=text
x=0
y=1
width=453
height=18
center=yes
font=b12_full
shadowed=yes
text=with only the statue of King Alvis to remind the people of the
colour=0xFF0000

[keldagrim_story1_line9_l]
type=layer
x=39
y=212
width=452
height=16
hide=yes

[keldagrim_story1_line9]
layer=keldagrim_story1_line9_l
type=text
x=0
y=0
width=451
height=13
center=yes
font=b12_full
shadowed=yes
text=old days.
colour=0xFF0000
