[com_0]
type=layer
x=37
y=37
width=387
height=287

[com_4]
layer=com_0
type=model
x=176
y=71
width=55
height=81
model=com_i340
zoom=643
xan=510

[letter_lj_close]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[com_2]
type=layer
x=49
y=73
width=337
height=225
scroll=2040

[lj_title]
layer=com_2
type=text
x=4
y=2
width=331
height=17
font=q8_full
text=lj_title

[lj1]
layer=com_2
type=text
x=4
y=32
width=331
height=17
font=q8_full
text=lj1

[lj2]
layer=com_2
type=text
x=4
y=52
width=331
height=17
font=q8_full
text=lj2

[lj3]
layer=com_2
type=text
x=4
y=72
width=331
height=17
font=q8_full
text=lj3

[lj4]
layer=com_2
type=text
x=4
y=92
width=331
height=17
font=q8_full
text=lj4

[lj5]
layer=com_2
type=text
x=4
y=112
width=331
height=17
font=q8_full
text=lj5

[lj6]
layer=com_2
type=text
x=4
y=132
width=331
height=17
font=q8_full
text=lj6

[lj7]
layer=com_2
type=text
x=4
y=152
width=331
height=17
font=q8_full
text=lj7

[lj8]
layer=com_2
type=text
x=4
y=172
width=331
height=17
font=q8_full
text=lj8

[lj9]
layer=com_2
type=text
x=4
y=192
width=331
height=17
font=q8_full
text=lj9

[lj10]
layer=com_2
type=text
x=4
y=212
width=331
height=17
font=q8_full
text=lj10

[lj11]
layer=com_2
type=text
x=4
y=232
width=331
height=17
font=q8_full
text=lj11

[lj12]
layer=com_2
type=text
x=4
y=252
width=331
height=17
font=q8_full
text=lj12

[lj13]
layer=com_2
type=text
x=4
y=272
width=331
height=17
font=q8_full
text=lj13

[lj14]
layer=com_2
type=text
x=4
y=292
width=331
height=17
font=q8_full
text=lj14

[lj15]
layer=com_2
type=text
x=4
y=312
width=331
height=17
font=q8_full
text=lj15

[lj16]
layer=com_2
type=text
x=4
y=332
width=331
height=17
font=q8_full
text=lj16

[lj17]
layer=com_2
type=text
x=4
y=352
width=331
height=17
font=q8_full
text=lj17

[lj18]
layer=com_2
type=text
x=4
y=372
width=331
height=17
font=q8_full
text=lj18

[lj19]
layer=com_2
type=text
x=4
y=392
width=331
height=17
font=q8_full
text=lj19

[lj20]
layer=com_2
type=text
x=4
y=412
width=331
height=17
font=q8_full
text=lj20

[lj21]
layer=com_2
type=text
x=4
y=432
width=331
height=17
font=q8_full
text=lj21

[lj22]
layer=com_2
type=text
x=4
y=452
width=331
height=17
font=q8_full
text=lj22

[lj23]
layer=com_2
type=text
x=4
y=472
width=331
height=17
font=q8_full
text=lj23

[lj24]
layer=com_2
type=text
x=4
y=492
width=331
height=17
font=q8_full
text=lj24

[lj25]
layer=com_2
type=text
x=4
y=512
width=331
height=17
font=q8_full
text=lj25

[lj26]
layer=com_2
type=text
x=4
y=532
width=331
height=17
font=q8_full
text=lj26

[lj27]
layer=com_2
type=text
x=4
y=552
width=331
height=17
font=q8_full
text=lj27

[lj28]
layer=com_2
type=text
x=4
y=572
width=331
height=17
font=q8_full
text=lj28

[lj29]
layer=com_2
type=text
x=4
y=592
width=331
height=17
font=q8_full
text=lj29

[lj30]
layer=com_2
type=text
x=4
y=612
width=331
height=17
font=q8_full
text=lj30

[lj31]
layer=com_2
type=text
x=4
y=632
width=331
height=17
font=q8_full
text=lj31

[lj32]
layer=com_2
type=text
x=4
y=652
width=331
height=17
font=q8_full
text=lj32

[lj33]
layer=com_2
type=text
x=4
y=672
width=331
height=17
font=q8_full
text=lj33

[lj34]
layer=com_2
type=text
x=4
y=692
width=331
height=17
font=q8_full
text=lj34

[lj35]
layer=com_2
type=text
x=4
y=712
width=331
height=17
font=q8_full
text=lj35

[lj36]
layer=com_2
type=text
x=4
y=732
width=331
height=17
font=q8_full
text=lj36

[lj37]
layer=com_2
type=text
x=4
y=752
width=331
height=17
font=q8_full
text=lj37

[lj38]
layer=com_2
type=text
x=4
y=772
width=331
height=17
font=q8_full
text=lj38

[lj39]
layer=com_2
type=text
x=4
y=792
width=331
height=17
font=q8_full
text=lj39

[lj40]
layer=com_2
type=text
x=4
y=812
width=331
height=17
font=q8_full
text=lj40

[lj41]
layer=com_2
type=text
x=4
y=832
width=331
height=17
font=q8_full
text=lj41

[lj42]
layer=com_2
type=text
x=4
y=852
width=331
height=17
font=q8_full
text=lj42

[lj43]
layer=com_2
type=text
x=4
y=872
width=331
height=17
font=q8_full
text=lj43

[lj44]
layer=com_2
type=text
x=4
y=892
width=331
height=17
font=q8_full
text=lj44

[lj45]
layer=com_2
type=text
x=4
y=912
width=331
height=17
font=q8_full
text=lj45

[lj46]
layer=com_2
type=text
x=4
y=932
width=331
height=17
font=q8_full
text=lj46

[lj47]
layer=com_2
type=text
x=4
y=952
width=331
height=17
font=q8_full
text=lj47

[lj48]
layer=com_2
type=text
x=4
y=972
width=331
height=17
font=q8_full
text=lj48

[lj49]
layer=com_2
type=text
x=4
y=992
width=331
height=17
font=q8_full
text=lj49

[lj50]
layer=com_2
type=text
x=4
y=1012
width=331
height=17
font=q8_full
text=lj50

[lj51]
layer=com_2
type=text
x=4
y=1032
width=331
height=17
font=q8_full
text=lj51

[lj52]
layer=com_2
type=text
x=4
y=1052
width=331
height=17
font=q8_full
text=lj52

[lj53]
layer=com_2
type=text
x=4
y=1072
width=331
height=17
font=q8_full
text=lj53

[lj54]
layer=com_2
type=text
x=4
y=1092
width=331
height=17
font=q8_full
text=lj54

[lj55]
layer=com_2
type=text
x=4
y=1112
width=331
height=17
font=q8_full
text=lj55

[lj56]
layer=com_2
type=text
x=4
y=1132
width=331
height=17
font=q8_full
text=lj56

[lj57]
layer=com_2
type=text
x=4
y=1152
width=331
height=17
font=q8_full
text=lj57

[lj58]
layer=com_2
type=text
x=4
y=1172
width=331
height=17
font=q8_full
text=lj58

[lj59]
layer=com_2
type=text
x=4
y=1192
width=331
height=17
font=q8_full
text=lj59

[lj60]
layer=com_2
type=text
x=4
y=1212
width=331
height=17
font=q8_full
text=lj60

[lj61]
layer=com_2
type=text
x=4
y=1232
width=331
height=17
font=q8_full
text=lj61

[lj62]
layer=com_2
type=text
x=4
y=1252
width=331
height=17
font=q8_full
text=lj62

[lj63]
layer=com_2
type=text
x=4
y=1272
width=331
height=17
font=q8_full
text=lj63

[lj64]
layer=com_2
type=text
x=4
y=1292
width=331
height=17
font=q8_full
text=lj64

[lj65]
layer=com_2
type=text
x=4
y=1312
width=331
height=17
font=q8_full
text=lj65

[lj66]
layer=com_2
type=text
x=4
y=1332
width=331
height=17
font=q8_full
text=lj66

[lj67]
layer=com_2
type=text
x=4
y=1352
width=331
height=17
font=q8_full
text=lj67

[lj68]
layer=com_2
type=text
x=4
y=1372
width=331
height=17
font=q8_full
text=lj68

[lj69]
layer=com_2
type=text
x=4
y=1392
width=25
height=17
font=q8_full
text=lj69

[lj70]
layer=com_2
type=text
x=4
y=1412
width=331
height=17
font=q8_full
text=lj70

[lj71]
layer=com_2
type=text
x=4
y=1432
width=331
height=17
font=q8_full
text=lj71

[lj72]
layer=com_2
type=text
x=4
y=1452
width=331
height=17
font=q8_full
text=lj72

[lj73]
layer=com_2
type=text
x=4
y=1472
width=331
height=17
font=q8_full
text=lj73

[lj74]
layer=com_2
type=text
x=4
y=1492
width=331
height=17
font=q8_full
text=lj74

[lj75]
layer=com_2
type=text
x=4
y=1512
width=331
height=17
font=q8_full
text=lj75

[lj76]
layer=com_2
type=text
x=4
y=1532
width=331
height=17
font=q8_full
text=lj76

[lj77]
layer=com_2
type=text
x=4
y=1552
width=331
height=17
font=q8_full
text=lj77

[lj78]
layer=com_2
type=text
x=4
y=1572
width=331
height=17
font=q8_full
text=lj78

[lj79]
layer=com_2
type=text
x=4
y=1592
width=331
height=17
font=q8_full
text=lj79

[lj80]
layer=com_2
type=text
x=4
y=1612
width=331
height=17
font=q8_full
text=lj80

[lj81]
layer=com_2
type=text
x=4
y=1632
width=331
height=17
font=q8_full
text=lj81

[lj82]
layer=com_2
type=text
x=4
y=1652
width=331
height=17
font=q8_full
text=lj82

[lj83]
layer=com_2
type=text
x=4
y=1672
width=331
height=17
font=q8_full
text=lj83

[lj84]
layer=com_2
type=text
x=4
y=1692
width=331
height=17
font=q8_full
text=lj84

[lj85]
layer=com_2
type=text
x=4
y=1712
width=331
height=17
font=q8_full
text=lj85

[lj86]
layer=com_2
type=text
x=4
y=1732
width=331
height=17
font=q8_full
text=lj86

[lj87]
layer=com_2
type=text
x=4
y=1752
width=331
height=17
font=q8_full
text=lj87

[lj88]
layer=com_2
type=text
x=4
y=1772
width=331
height=17
font=q8_full
text=lj88

[lj89]
layer=com_2
type=text
x=4
y=1792
width=331
height=17
font=q8_full
text=lj89

[lj90]
layer=com_2
type=text
x=4
y=1812
width=25
height=17
font=q8_full
text=lj90

[lj91]
layer=com_2
type=text
x=4
y=1832
width=331
height=17
font=q8_full
text=lj91

[lj92]
layer=com_2
type=text
x=4
y=1852
width=331
height=17
font=q8_full
text=lj92

[lj93]
layer=com_2
type=text
x=4
y=1872
width=331
height=17
font=q8_full
text=lj93

[lj94]
layer=com_2
type=text
x=4
y=1892
width=331
height=17
font=q8_full
text=lj94

[lj95]
layer=com_2
type=text
x=4
y=1912
width=331
height=17
font=q8_full
text=lj95

[lj96]
layer=com_2
type=text
x=4
y=1932
width=331
height=17
font=q8_full
text=lj96

[lj97]
layer=com_2
type=text
x=4
y=1952
width=331
height=17
font=q8_full
text=lj97

[lj98]
layer=com_2
type=text
x=4
y=1972
width=331
height=17
font=q8_full
text=lj98

[lj99]
layer=com_2
type=text
x=4
y=1992
width=331
height=17
font=q8_full
text=lj99

[lj100]
layer=com_2
type=text
x=4
y=2012
width=331
height=17
font=q8_full
text=lj100
