[mourning_deathalter_layer2]
type=layer
x=37
y=37
width=387
height=287

[com_5]
layer=mourning_deathalter_layer2
type=model
x=163
y=79
width=55
height=81
model=com_i126
zoom=643
xan=510

[com_1]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[mourning_deathalter_layer]
type=layer
x=48
y=78
width=342
height=215
scroll=1000

[mourning_deathalter_item1]
layer=mourning_deathalter_layer
type=text
x=8
y=0
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item1

[mourning_deathalter_item2]
layer=mourning_deathalter_layer
type=text
x=8
y=20
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item2

[mourning_deathalter_item3]
layer=mourning_deathalter_layer
type=text
x=8
y=40
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item3

[mourning_deathalter_item4]
layer=mourning_deathalter_layer
type=text
x=8
y=60
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item4

[mourning_deathalter_item5]
layer=mourning_deathalter_layer
type=text
x=8
y=80
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item5

[mourning_deathalter_item6]
layer=mourning_deathalter_layer
type=text
x=8
y=100
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item6

[mourning_deathalter_item7]
layer=mourning_deathalter_layer
type=text
x=8
y=120
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item7

[mourning_deathalter_item8]
layer=mourning_deathalter_layer
type=text
x=8
y=140
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item8

[mourning_deathalter_item9]
layer=mourning_deathalter_layer
type=text
x=8
y=160
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item9

[mourning_deathalter_item10]
layer=mourning_deathalter_layer
type=text
x=8
y=180
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item10

[mourning_deathalter_item11]
layer=mourning_deathalter_layer
type=text
x=8
y=200
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item11

[mourning_deathalter_item12]
layer=mourning_deathalter_layer
type=text
x=8
y=220
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item12

[mourning_deathalter_item13]
layer=mourning_deathalter_layer
type=text
x=8
y=240
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item13

[mourning_deathalter_item14]
layer=mourning_deathalter_layer
type=text
x=8
y=260
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item14

[mourning_deathalter_item15]
layer=mourning_deathalter_layer
type=text
x=8
y=280
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item15

[mourning_deathalter_item16]
layer=mourning_deathalter_layer
type=text
x=8
y=300
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item16

[mourning_deathalter_item17]
layer=mourning_deathalter_layer
type=text
x=8
y=320
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item17

[mourning_deathalter_item18]
layer=mourning_deathalter_layer
type=text
x=8
y=340
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item18

[mourning_deathalter_item19]
layer=mourning_deathalter_layer
type=text
x=8
y=360
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item19

[mourning_deathalter_item20]
layer=mourning_deathalter_layer
type=text
x=8
y=380
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item20

[mourning_deathalter_item21]
layer=mourning_deathalter_layer
type=text
x=8
y=400
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item21

[mourning_deathalter_item22]
layer=mourning_deathalter_layer
type=text
x=8
y=420
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item22

[mourning_deathalter_item23]
layer=mourning_deathalter_layer
type=text
x=8
y=440
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item23

[mourning_deathalter_item24]
layer=mourning_deathalter_layer
type=text
x=8
y=460
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item24

[mourning_deathalter_item25]
layer=mourning_deathalter_layer
type=text
x=8
y=480
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item25

[mourning_deathalter_item26]
layer=mourning_deathalter_layer
type=text
x=8
y=500
width=330
height=15
center=yes
font=p12_full
text=mourning_deathalter_item26

[mourning_deathalter_item27]
layer=mourning_deathalter_layer
type=text
x=8
y=520
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item27

[mourning_deathalter_item28]
layer=mourning_deathalter_layer
type=text
x=8
y=540
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item28

[mourning_deathalter_item29]
layer=mourning_deathalter_layer
type=text
x=8
y=560
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item29

[mourning_deathalter_item30]
layer=mourning_deathalter_layer
type=text
x=8
y=580
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item30

[mourning_deathalter_item31]
layer=mourning_deathalter_layer
type=text
x=8
y=600
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item31

[mourning_deathalter_item32]
layer=mourning_deathalter_layer
type=text
x=8
y=620
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item32

[mourning_deathalter_item33]
layer=mourning_deathalter_layer
type=text
x=8
y=640
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item33

[mourning_deathalter_item34]
layer=mourning_deathalter_layer
type=text
x=8
y=660
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item34

[mourning_deathalter_item35]
layer=mourning_deathalter_layer
type=text
x=8
y=680
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item35

[mourning_deathalter_item36]
layer=mourning_deathalter_layer
type=text
x=8
y=700
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item36

[mourning_deathalter_item37]
layer=mourning_deathalter_layer
type=text
x=8
y=720
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item37

[mourning_deathalter_item38]
layer=mourning_deathalter_layer
type=text
x=7
y=740
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item38

[mourning_deathalter_item39]
layer=mourning_deathalter_layer
type=text
x=8
y=760
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item39

[mourning_deathalter_item40]
layer=mourning_deathalter_layer
type=text
x=8
y=780
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item40

[mourning_deathalter_item41]
layer=mourning_deathalter_layer
type=text
x=8
y=800
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item41

[mourning_deathalter_item42]
layer=mourning_deathalter_layer
type=text
x=8
y=820
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item42

[mourning_deathalter_item43]
layer=mourning_deathalter_layer
type=text
x=8
y=840
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item43

[mourning_deathalter_item44]
layer=mourning_deathalter_layer
type=text
x=8
y=860
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item44

[mourning_deathalter_item45]
layer=mourning_deathalter_layer
type=text
x=8
y=880
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item45

[mourning_deathalter_item46]
layer=mourning_deathalter_layer
type=text
x=8
y=900
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item46

[mourning_deathalter_item47]
layer=mourning_deathalter_layer
type=text
x=8
y=920
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item47

[mourning_deathalter_item48]
layer=mourning_deathalter_layer
type=text
x=8
y=940
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item48

[mourning_deathalter_item49]
layer=mourning_deathalter_layer
type=text
x=8
y=960
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item49

[mourning_deathalter_item50]
layer=mourning_deathalter_layer
type=text
x=8
y=980
width=331
height=14
center=yes
font=p12_full
text=mourning_deathalter_item50

[com_3]
type=text
x=53
y=56
width=139
height=17
font=q8_full
text=List of needed items:
