[ratcatcher_music_scroll]
type=model
x=219
y=135
width=32
height=32
model=com_i269
zoom=874
xan=492

[close_button]
type=text
x=419
y=13
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00

[ratcatcher_flute_music1]
type=model
x=74
y=76
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music2]
type=model
x=119
y=82
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music3]
type=model
x=168
y=77
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music4]
type=model
x=216
y=71
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music5]
type=model
x=266
y=71
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music6]
type=model
x=316
y=76
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music7]
type=model
x=359
y=81
width=32
height=195
model=com_i539
zoom=400
xan=512

[ratcatcher_flute_music8]
type=model
x=404
y=84
width=32
height=195
model=com_i539
zoom=400
xan=512

[rc_m1]
type=model
x=74
y=81
width=32
height=195
model=com_i543
zoom=400
xan=512

[rc_m2]
type=model
x=119
y=87
width=32
height=195
model=com_i549
zoom=400
xan=512

[rc_m3]
type=model
x=168
y=83
width=32
height=195
model=com_i545
zoom=400
xan=512

[rc_m4]
type=model
x=216
y=76
width=32
height=195
model=com_i547
zoom=400
xan=512

[rc_m5]
type=model
x=266
y=77
width=32
height=195
model=com_i543
zoom=400
xan=512

[rc_m6]
type=model
x=316
y=81
width=32
height=195
model=com_i553
zoom=400
xan=512

[rc_m7]
type=model
x=359
y=85
width=32
height=195
model=com_i555
zoom=400
xan=512

[rc_m8]
type=model
x=404
y=89
width=32
height=195
model=com_i551
zoom=400
xan=512

[rc_music_sharp]
type=model
x=272
y=39
width=32
height=32
model=com_i541
zoom=541
xan=512
