[com_0]
type=rect
x=0
y=0
width=512
height=334
fill=yes
colour=0xF622C0C

[com_1]
type=rect
x=0
y=150
width=511
height=19
fill=yes

[com_2]
type=rect
x=5
y=89
width=86
height=145
fill=yes
colour=0xF303030

[com_3]
type=rect
x=470
y=90
width=86
height=145
fill=yes
colour=0xF303030

[com_4]
type=rect
x=99
y=0
width=359
height=334
fill=yes
colour=0xF303030

[com_5]
type=rect
x=107
y=0
width=343
height=334
fill=yes
colour=0xF585858

[com_6]
type=rect
x=12
y=98
width=71
height=130
fill=yes
colour=0xF585858

[com_7]
type=rect
x=479
y=99
width=71
height=130
fill=yes
colour=0xF585858

[com_8]
type=rect
x=7
y=53
width=84
height=24
fill=yes
colour=0xF312314

[rogue_tb_open]
type=text
x=16
y=57
buttontype=normal
width=72
height=18
font=p12_full
shadowed=yes
text=open casket
colour=0xFFFF00

[rogue_tb_close]
type=text
x=14
y=29
buttontype=normal
width=75
height=16
font=p12_full
shadowed=yes
text=close window
colour=0xFFFF00

[rogue_tbr1c1]
type=rect
x=114
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr1c2]
type=rect
x=151
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr1c3]
type=rect
x=188
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr1c4]
type=rect
x=225
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr1c5]
type=rect
x=262
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr1c6]
type=rect
x=299
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr1c7]
type=rect
x=336
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr1c8]
type=rect
x=373
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr1c9]
type=rect
x=410
y=4
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr2c1]
type=rect
x=114
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr2c2]
type=rect
x=151
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr2c3]
type=rect
x=188
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr2c4]
type=rect
x=225
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr2c5]
type=rect
x=262
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr2c6]
type=rect
x=299
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr2c7]
type=rect
x=336
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr2c8]
type=rect
x=373
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr2c9]
type=rect
x=410
y=41
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr3c1]
type=rect
x=114
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr3c2]
type=rect
x=151
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr3c3]
type=rect
x=188
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr3c4]
type=rect
x=225
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr3c5]
type=rect
x=262
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr3c6]
type=rect
x=299
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr3c7]
type=rect
x=336
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr3c8]
type=rect
x=373
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr3c9]
type=rect
x=410
y=78
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr4c1]
type=rect
x=114
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr4c2]
type=rect
x=151
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr4c3]
type=rect
x=188
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr4c4]
type=rect
x=225
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr4c5]
type=rect
x=262
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr4c6]
type=rect
x=299
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr4c7]
type=rect
x=336
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr4c8]
type=rect
x=373
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr4c9]
type=rect
x=410
y=115
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr5c1]
type=rect
x=114
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr5c2]
type=rect
x=151
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr5c3]
type=rect
x=188
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr5c4]
type=rect
x=225
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr5c5]
type=rect
x=262
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr5c6]
type=rect
x=299
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr5c7]
type=rect
x=336
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr5c8]
type=rect
x=373
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr5c9]
type=rect
x=410
y=152
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr6c1]
type=rect
x=114
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr6c2]
type=rect
x=151
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr6c3]
type=rect
x=188
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr6c4]
type=rect
x=225
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr6c5]
type=rect
x=262
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr6c6]
type=rect
x=299
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr6c7]
type=rect
x=336
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr6c8]
type=rect
x=373
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr6c9]
type=rect
x=410
y=189
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr7c1]
type=rect
x=114
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr7c2]
type=rect
x=151
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr7c3]
type=rect
x=188
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr7c4]
type=rect
x=225
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr7c5]
type=rect
x=262
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr7c6]
type=rect
x=299
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr7c7]
type=rect
x=336
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr7c8]
type=rect
x=373
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr7c9]
type=rect
x=410
y=226
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr8c1]
type=rect
x=114
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr8c2]
type=rect
x=151
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr8c3]
type=rect
x=188
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr8c4]
type=rect
x=225
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr8c5]
type=rect
x=262
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr8c6]
type=rect
x=299
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr8c7]
type=rect
x=336
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr8c8]
type=rect
x=373
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr8c9]
type=rect
x=410
y=263
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr9c1]
type=rect
x=115
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr9c2]
type=rect
x=151
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr9c3]
type=rect
x=189
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr9c4]
type=rect
x=225
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr9c5]
type=rect
x=262
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr9c6]
type=rect
x=299
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFE9C001

[rogue_tbr9c7]
type=rect
x=336
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr9c8]
type=rect
x=373
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tbr9c9]
type=rect
x=410
y=300
buttontype=normal
width=32
height=32
fill=yes
colour=0xFA9907

[rogue_tb_earth_lyr]
type=layer
x=4
y=284
width=47
height=48

[selectone]
layer=rogue_tb_earth_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selecttwo]
layer=rogue_tb_earth_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_water_lyr]
type=layer
x=3
y=234
width=47
height=48

[selectthree]
layer=rogue_tb_water_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selectfour]
layer=rogue_tb_water_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_air_lyr]
type=layer
x=3
y=184
width=47
height=48

[selectfive]
layer=rogue_tb_air_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selectsix]
layer=rogue_tb_air_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_fire_lyr]
type=layer
x=3
y=134
width=47
height=48

[selectseven]
layer=rogue_tb_fire_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selecteight]
layer=rogue_tb_fire_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_mind_lyr]
type=layer
x=3
y=84
width=47
height=48

[selectnine]
layer=rogue_tb_mind_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selectten]
layer=rogue_tb_mind_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_body_lyr]
type=layer
x=52
y=134
width=47
height=48

[selectonemo]
layer=rogue_tb_body_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[select2mo]
layer=rogue_tb_body_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_death_lyr]
type=layer
x=52
y=184
width=47
height=48

[selcectthreemo]
layer=rogue_tb_death_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selectfourmo]
layer=rogue_tb_death_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_chaos_lyr]
type=layer
x=52
y=234
width=47
height=48

[select5mo]
layer=rogue_tb_chaos_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selectsixmo]
layer=rogue_tb_chaos_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_law_lyr]
type=layer
x=53
y=284
width=47
height=48

[selectsevenmo]
layer=rogue_tb_law_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selecteightmo]
layer=rogue_tb_law_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_delete_lyr]
type=layer
x=52
y=84
width=47
height=48

[selectninemo]
layer=rogue_tb_delete_lyr
type=model
x=8
y=8
width=32
height=32
model=com_i486
zoom=600
xan=500

[selecttenmo]
layer=rogue_tb_delete_lyr
type=model
x=8
y=8
width=32
height=32
activemodel=com_i487
zoom=600
xan=500

[rogue_tb_earth_btn]
type=model
x=12
y=292
buttontype=normal
width=32
height=32
model=com_i488
zoom=600
xan=500
yan=1050

[rogue_tb_water_btn]
type=model
x=11
y=242
buttontype=normal
width=32
height=32
model=com_i489
zoom=600
xan=500
yan=1050

[rogue_tb_air_btn]
type=model
x=9
y=193
buttontype=normal
width=32
height=32
model=com_i490
zoom=600
xan=500
yan=1050

[rogue_tb_mind_btn]
type=model
x=9
y=92
buttontype=normal
width=32
height=32
model=com_i491
zoom=600
xan=500
yan=1050

[rogue_tb_fire_btn]
type=model
x=10
y=142
buttontype=normal
width=32
height=32
model=com_i492
zoom=600
xan=500
yan=1050

[rogue_tb_body_btn]
type=model
x=59
y=143
buttontype=normal
width=32
height=32
model=com_i493
zoom=600
xan=500
yan=1050

[rogue_tb_death_btn]
type=model
x=59
y=193
buttontype=normal
width=32
height=32
model=com_i494
zoom=600
xan=500
yan=1050

[rogue_tb_chaos_btn]
type=model
x=60
y=242
buttontype=normal
width=32
height=32
model=com_i495
zoom=600
xan=500
yan=1050

[rogue_tb_law_btn]
type=model
x=61
y=292
buttontype=normal
width=32
height=32
model=com_i496
zoom=600
xan=500
yan=1050

[rogue_tb_delete_btn]
type=model
x=60
y=92
buttontype=normal
width=32
height=32
model=com_i487
zoom=600
xan=500

[com_132]
type=inv
x=114
y=4
width=9
height=9
margin=5,5
