[com_0]
type=model
x=237
y=183
width=32
height=32
model=com_i513
zoom=256
xan=501

[com_1]
type=model
x=243
y=39
width=32
height=32
model=com_i512
zoom=799
xan=512
yan=2031

[ball_of_wool]
type=model
x=103
y=256
width=32
height=32
model=com_i514
zoom=400
xan=106
yan=207

[kitycat]
type=model
x=340
y=223
width=32
height=32
model=com_i515
anim=cat_pounce
activeanim=cat_pounce
zoom=400
xan=73
yan=237
