[feud_safe_l1]
type=layer
x=0
y=0
width=600
height=500

[feud_safe]
type=model
x=249
y=279
width=32
height=32
model=com_i304
zoom=207
xan=41
yan=2036

[feud_safe_close]
type=text
x=428
y=11
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
overcolour=0xFFFFFF

[feud_bh]
type=layer
x=337
y=97
width=155
height=170

[feud_over_model1]
layer=feud_bh
type=model
x=98
y=18
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
model=com_i305
activemodel=com_i306
zoom=1400
xan=397
yan=276
option=Set to 1

[feud_overstate_model2]
layer=feud_bh
type=model
x=119
y=50
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,2
model=com_i305
activemodel=com_i306
zoom=1400
xan=450
yan=460
option=Set to 2

[feud_overstate_model3]
layer=feud_bh
type=model
x=116
y=90
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,3
model=com_i305
activemodel=com_i306
zoom=1400
xan=404
yan=619
option=Set to 3

[feud_overstate_model4]
layer=feud_bh
type=model
x=95
y=121
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,4
model=com_i305
activemodel=com_i306
zoom=1400
xan=429
yan=819
option=Set to 4

[feud_overstate_model5]
layer=feud_bh
type=model
x=58
y=128
buttontype=select
width=32
height=32
script1op1=pushvar,if1
script1=eq,5
model=com_i305
activemodel=com_i306
zoom=1400
xan=435
yan=1048
option=Set to 5

[feud_overstate_model6]
layer=feud_bh
type=model
x=22
y=114
buttontype=select
width=30
height=35
script1op1=pushvar,if1
script1=eq,6
model=com_i305
activemodel=com_i306
zoom=1400
xan=444
yan=1216
option=Set to 6

[feud_overstate_model7]
layer=feud_bh
type=model
x=3
y=77
buttontype=select
width=30
height=35
script1op1=pushvar,if1
script1=eq,7
model=com_i305
activemodel=com_i306
zoom=1400
xan=499
yan=1425
option=Set to 7

[feud_overstate_model8]
layer=feud_bh
type=model
x=8
y=38
buttontype=select
width=30
height=30
script1op1=pushvar,if1
script1=eq,8
model=com_i305
activemodel=com_i306
zoom=1400
xan=468
yan=1642
option=Set to 8

[feud_overstate_model9]
layer=feud_bh
type=model
x=36
y=10
buttontype=select
width=30
height=35
script1op1=pushvar,if1
script1=eq,9
model=com_i305
activemodel=com_i306
zoom=1400
xan=421
yan=1821
option=Set to 9

[feud_reset_model]
layer=feud_bh
type=model
x=78
y=62
buttontype=normal
width=30
height=32
model=com_i307
activemodel=com_i308
zoom=1297
xan=467
yan=2026
option=Reset Safe
