[stone_bar]
type=model
x=61
y=83
width=32
height=32
model=com_i61
zoom=400
xan=437

[com_1]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,1
activemodel=com_i62
zoom=400
xan=437

[com_2]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,2
activemodel=com_i63
zoom=400
xan=437

[com_3]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,3
activemodel=com_i64
zoom=400
xan=437

[com_4]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,4
activemodel=com_i65
zoom=400
xan=437

[com_5]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,5
activemodel=com_i67
zoom=400
xan=437

[com_6]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,6
activemodel=com_i68
zoom=400
xan=437

[com_7]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,7
activemodel=com_i69
zoom=400
xan=437

[com_8]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,8
activemodel=com_i70
zoom=400
xan=437

[com_9]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,9
activemodel=com_i71
zoom=400
xan=437

[com_10]
type=model
x=61
y=83
width=32
height=32
script1op1=push_varbit,tog_time_left_tenths
script1=eq,10
activemodel=com_i72
zoom=400
xan=437

[stone_bowl]
type=model
x=64
y=173
width=32
height=32
model=com_i73
zoom=400
xan=468
yan=2045

[drip1]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=eq,1
activemodel=com_i74
zoom=400
xan=468
yan=2045

[drip2]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,1
script2=lt,4
activemodel=com_i75
zoom=400
xan=468
yan=2045

[drip3]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,3
script2=lt,7
activemodel=com_i76
zoom=400
xan=468
yan=2045

[drip4]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,6
script2=lt,11
activemodel=com_i77
zoom=400
xan=468
yan=2045

[drip5]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,10
script2=lt,16
activemodel=com_i78
zoom=400
xan=468
yan=2045

[drip6]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,15
script2=lt,22
activemodel=com_i79
zoom=400
xan=468
yan=2045

[drip7]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,21
script2=lt,29
activemodel=com_i80
zoom=400
xan=468
yan=2045

[drip8]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,28
script2=lt,37
activemodel=com_i81
zoom=400
xan=468
yan=2045

[drip9]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,36
script2=lt,46
activemodel=com_i82
zoom=400
xan=468
yan=2045

[drip10]
type=model
x=65
y=173
width=31
height=32
script1op1=push_varbit,tog_tears_collected
script1=gt,45
activemodel=com_i83
zoom=400
xan=468
yan=2045

[com_22]
type=text
x=32
y=129
width=88
height=14
font=p12_full
shadowed=yes
text=Water Collected
colour=0xFFFF00

[com_23]
type=text
x=46
y=45
width=51
height=14
font=p12_full
shadowed=yes
text=Time Left
colour=0xFFFF00

[number_count]
type=model
x=120
y=211
width=32
height=32
model=com_i84
zoom=400
xan=409
yan=97

[count]
type=text
x=126
y=216
width=17
height=14
script1op1=push_varbit,tog_tears_collected
font=p12_full
shadowed=yes
text=%1
colour=0xFFFF00

[water]
type=layer
x=4
y=60
width=145
height=190
