[tbw_bar]
type=model
x=384
y=14
width=32
height=32
model=com_i471
zoom=400
xan=251
yan=2041

[tbw_dial]
type=model
x=456
y=19
width=32
height=32
model=com_i472
zoom=537
xan=236
yan=2046

[vill_com_layer]
type=layer
x=351
y=17
width=140
height=20

[tbw_village_score]
layer=vill_com_layer
type=text
x=108
y=2
width=29
height=12
script1op1=push_varbit,favour_percentage
font=p11_full
shadowed=yes
text=%1 %
colour=0xFFFF00

[village_community]
layer=vill_com_layer
type=text
x=10
y=2
width=95
height=12
font=p11_full
shadowed=yes
text=@gre@* @yel@Tai Bwo Favour @gre@*
colour=0xFFFF00
